body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.grid-container{
    width: 500px;
    height: 500px;
    display: flex;
    border: 1px solid hsla(0, 0%, 0%, 0.75);
    flex-wrap: wrap;
}

.grid-square{
    box-sizing: border-box;
    border: 1px solid hsla(0, 60%, 25%, 0.80);
}

#reset-button{
    font-size: 1.5rem;
    padding: 16px;
    margin: 16px;
    color: white;
    background-color: hsl(249, 65%, 59%);
    border-radius: 15px;
}