.grid-container{
    width: 960px;
    height: 960px;
    display: flex;
    border: 1px solid hsla(0, 0%, 0%, 0.75);
    flex-wrap: wrap;
}

.grid-square{
    box-sizing: border-box;
    border: 1px solid hsla(0, 60%, 25%, 0.80);
}

#reset-button{
    font-size: 2.5rem;
}